.evaluation-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    margin: 20px auto; /* Centra el formulario en la página */
  }
  
  .evaluation-form h2 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .evaluation-form h3 {
    margin: 15px 0 5px; /* Espaciado entre preguntas */
  }
  
  .evaluation-form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .evaluation-form select {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado entre elementos */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .evaluation-form button {
    width: 100%; /* Botón de ancho completo */
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición */
  }
  
  .evaluation-form button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
  }
  