/* Estilos para el formulario de evaluación */

.evaluation-form {
  padding: 30px; 
  border: 1px solid #e0e0e0; 
  border-radius: 12px; 
  background-color: #fff; 
  max-width: 900px; 
  margin: 50px auto; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.evaluation-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333; 
  font-size: 2rem;
}

.evaluation-form h3 {
  margin: 20px 0 10px; 
  font-size: 1.3em;
  color: #007bff; 
}

.evaluation-form label {
  display: block;
  margin: 12px 0 8px; 
  font-size: 1em;
  color: #666;
}

.evaluation-form .product-details p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.evaluation-select {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7; 
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.evaluation-select:focus {
  border-color: #007bff; 
  outline: none;
}

.evaluation-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7; 
  margin-bottom: 20px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.evaluation-textarea:focus {
  border-color: #007bff; 
  outline: none;
}

.evaluation-submit {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, box-shadow 0.2s;
  margin-bottom: 20px;
}

.evaluation-submit:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2); 
}

.evaluation-link {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.evaluation-link:hover {
  color: #0056b3;
}
