.gestion-fincas {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .add-finca-btn {
    background-color: #667558;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .fincas-list {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .fincas-list h2 {
    margin-top: 0;
  }
  
  .finca {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .finca span {
    flex: 1;
  }
  
  .edit-btn, .delete-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .footer .help, .footer .profile {
    display: flex;
    align-items: center;
  }
  
  .footer .help::before, .footer .profile::before {
    content: '?';
    margin-right: 8px;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Ancho máximo relativo */
    max-width: 900px; /* Ancho máximo en relación con el ancho de la ventana */
    max-height: 90vh; /* Altura máxima en relación con la altura de la ventana */
    overflow: auto; 
    border-radius: 5px;
    position: fixed;
    top: 50%; /* Coloca el modal en el 50% de la parte superior */
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
  }
  