
.perfil-container {
    display: flex;
    justify-content: center; 
  }
  .perfil-card,
  .editar-perfil-card {
    width: 30%; 
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px; 
  }
  .perfil-avatar {
    width: 80px; 
    height: 80px; 
    border-radius: 70%;
    margin-top: 30px;
  }
  .perfil-name {
    font-size: 1.2em; 
    margin: 15px 0 5px 0;
    color: #333;
  }
  .perfil-username {
    font-size: 1em;
    margin-bottom: 10px;
    color: #777;
  }
  .perfil-upload-btn,
  .perfil-edit-btn,
  .update-btn {
    background-color: #6384a7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .perfil-upload-info {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 20px;
  }
  .perfil-member-since {
    font-size: 0.9em;
    color: #777;
  }
  .editar-perfil-card h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #777;
  }
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  .social-profile {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .social-profile input {
    width: calc(50% - 10px);
    padding: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  @media only screen and (max-width: 600px) {
    .perfil-card,
    .editar-perfil-card {
      width: 100%; 
    }
  }
  