.vista-producto {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;

}

.producto-detalles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.producto-imagen img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.producto-info {
    flex: 1;
    margin-left: 20px;
}

.producto-precio {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.producto-rating {
    font-size: 20px;
    margin: 10px 0;
}

.producto-descripcion {
    margin: 10px 0;
}

.producto-detalles {
    font-weight: bold;
    margin: 20px 0 10px;
}

.producto-colores {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.producto-colores span {
    margin-right: 10px;
}

.colores {
    display: flex;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ddd;
}

.color.blanco {
    background-color: #fff;
}

.color.negro {
    background-color: #000;
}

.agregar-carrito {
    background-color: #a78d63;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.agregar-carrito:hover {
    background-color: #c4ac85;
}

.producto-reviews {
    margin-top: 20px;
}

.review {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.review-autor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.review-rating {
    font-size: 16px;
    color: #f39c12;
}

.review p {
    margin: 5px 0 0;
}
